astroid==2.15.6
async-timeout==4.0.2
autopep8==2.0.2
bcrypt==4.0.1
cffi==1.15.1
cryptography==41.0.3
dill==0.3.7
distlib==0.3.7
docstring-to-markdown==0.12
filelock==3.12.2
flake8==6.0.0
importlib-metadata==6.8.0
isort==5.12.0
jedi==0.18.2
lazy-object-proxy==1.9.0
mccabe==0.7.0
Nuitka==1.7.10
ordered-set==4.1.0
packaging==23.1
paramiko==3.3.1
parso==0.8.3
platformdirs==3.9.1
pluggy==1.2.0
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.3.0
pyflakes==3.0.1
pylint==2.17.4
PyNaCl==1.5.0
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.4
pytoolconfig==1.2.5
redis==4.6.0
rope==1.9.0
shiboken6==6.5.1.1
snowballstemmer==2.2.0
SQLAlchemy==2.0.20
sshtunnel==0.4.0
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.7.1
ujson==5.8.0
virtualenv==20.24.3
whatthepatch==1.0.5
wrapt==1.15.0
yapf==0.40.1
zipp==3.16.2
zstandard==0.21.0
